.profile__add-button {
    padding: 14px 64px;

    border: 2px solid white;

    width: 22px;
    height: 22px;
}

.profile__add-button:hover {

    opacity: 0.6;
    border: 2px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .profile__add-button {
        padding: 17px calc(50% - 11px);
        margin-top: 36px;
    }
}

@media screen and (max-width: 768px) {
    .profile__add-button {
        width: 16px;
        height: 16px;

        padding: 17px calc(50% - 8px);
    }
}