.profile__pen {
    padding: 7px;
    margin-left: 18px;

    border: 1px solid white;
    grid-area: pen;

    width: 10px;
    height: 10px;

}

.profile__pen:hover {
    opacity: 0.6;
    border: 1px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .profile__pen {
        margin: 0;

        width: 8px;
        height: 8px;
        padding: 10px;
    }
}