.popup__close {
    width: 32px;
    height: 32px;

    position: relative;
    top: -40px;
    left: 438px;

}


@media screen and (max-width: 600px) {
    .popup__close {
        width: 20px;
        height: 20px;

        top: -36px;
        left: 262px;
    }
}